.idea
__pycache__
.python-version
.tox
*.egg-info
.cache
.coverage
coverage.xml
*.pyc
*.pyo
.pytest_cache
.mypy_cache
*~
docs/build
build
dist
.venv
.vscode
*.sublime-project
*.sublime-workspace
venv/
demos/
*.epc
*.h5
*.xml
*.txt
output*
*.log

.env
**/*_.yml
**/poetry.lock
configs/gabbro


downloads
manip
test-data/
manip.txt
py_etp_client/main.py
rc/